<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!-- <title> Drop Down Sidebar Menu | CodingLab </title> -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' src="/public/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>


  <div class="sidebar close">
    <div class="logo-details">
      <!-- <img src="logo.png" alt="" class="logo-image"> -->
      <i class='bx bx-grid-alt' ></i>
      <span class="logo_name">Eureka Tribe</span>
    </div>
    <ul class="nav-links">


      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Posts</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Posts</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Login Form</a></li>
          <li><a href="#">Card Design</a></li>
        </ul>
      </li>

      <li>
        <a href="/feedback">
          <i class='bx bx-message-alt-detail' ></i>
          <span class="link_name">FeedBack</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">FeedBack</a></li>
        </ul>
      </li>

      <li>
        <a href="/profile">
          <i class='bx bx-user-circle' ></i>
          <span class="link_name">Profile</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Profile</a></li>
        </ul>
      </li>


      <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name"><%= profileName %></div>
            <div class="job"><%= jobTitle %></div>
          </div><a href="/logout">
            <i class='bx bx-log-out'></i>
            <span class="link_name"> </span>
        </a>
        </div>
      </li>

    </ul>
  </div>

  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
    </div>
    <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Search...">
      <button type="submit" class="search-button"><i class='bx bx-search'></i></button>
    </div>
  </section>
  
  <div class="one"></div>
  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
      });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
  </script>
</body>
</html>
